<!DOCTYPE html>
<html lang="en">
<head>


  <title>Your Gallery!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/styles.css">

</head>
<body>
  <h1 class="header jumbotron text-center"> Image Gallery </h1>
 	{% for x in range (0, folderSizes) %}
 		<img src="{{url_for("static",filename=('Uploads/' + titles[0][x]))}}" width="400" class="img-rounded img-responsive center-block" alt="is this working"/>
 		<br/>
 	{% endfor %}
</body>
</html>
